<div class="form-group row justify-content-end mt-3">
    <form action="/records/filter" class="justify-content-end form-inline">
        <label for="filter" class="col-sm-1 col-form-label"></label>
            <select name="filter" class="custom-select" id="filter" required>
                <option selected>選擇類別</option>
                <option value="家居物業" {{#if (isEqual record.category "家居物業" )}}selected{{/if}}>家居物業</option>
                <option value="交通出行" {{#if (isEqual record.category "交通出行" )}}selected{{/if}}>交通出行</option>
                <option value="休閒娛樂" {{#if (isEqual record.category "休閒娛樂" )}}selected{{/if}}>休閒娛樂</option>
                <option value="餐飲食品" {{#if (isEqual record.category "餐飲食品" )}}selected{{/if}}>餐飲食品</option>
                <option value="其他" {{#if (isEqual record.category "其他" )}}selected{{/if}}>其他</option>
            </select>
            <button type="submit" class="btn btn-outline-dark ml-2">搜尋</button>
    </form>
</div>
{{! total amount }}
<div class="totalAmount d-flex justify-content-center align-items-center">
    <span>總金額：</span>
    <h1 style="display: inline;">{{totalAmount}}</h1>
</div>
{{! 支出項目 }}
<div class="row">
    <div class="col-2"></div>
    <ul class="list-group col-8">
        {{#each record}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="{{this.icon}}"></i>
            <div class="col-auto mr-auto">
                <h4>{{this.name}}</h4>
                <small>{{this.date}}</small>
            </div>
            <div class="col-auto amount mr-4">{{this.amount}}</div>
            <a class="btn btn-dark" href="/records/{{this._id}}/edit">修改</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger ml-1" type="submit">刪除</button>
            </form>
        </li>
        {{/each}}
    </ul>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-outline-dark px-5" href="/records/new">新增支出</a>
</div>